[submodule "compiler-plugin-unit-test-lib"]
	path = compiler-plugin-unit-test-lib
	url = ../compiler-plugin-unit-test-lib.git
[submodule "simple-graph"]
	path = simple-graph
	url = ../simple-graph.git
