[submodule "compiler-plugin-unit-test-lib"]
	path = compiler-plugin-unit-test-lib
	url = ../compiler-plugin-unit-test-lib.git
[submodule "simple-graph"]
	path = simple-graph
	url = ../simple-graph.git
[submodule "sbt-plugin-test-lib/src/main/resources/test-projects"]
	path = sbt-plugin-test-lib/src/main/resources/test-projects
	url = ../integration-test-projects.git
